.progress-meter {
  padding: 0;
}

ol.progress-meter li.INITIATED {
  display: inline-block;
  text-align: center;
  text-indent: -90px;
  height: 36px;
  width: 10%;
  font-size: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  cursor: pointer;
  position: relative;
}

ol.progress-meter li.closed {
  display: inline-block;
  text-align: right;
  text-indent: -40px;
  height: 36px;
  width: 10%;
  font-size: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  cursor: pointer;
  position: relative;
}

ol.progress-meter li {
  display: inline-block;
  text-align: center;
  text-indent: -19px;
  height: 36px;
  width: 20%;
  font-size: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  cursor: pointer;
  position: relative;
}

ol.progress-meter li.INITIATED:before {
  position: relative;
  float: left;
  text-indent: 0;
  left: calc(10% - 9.5px);
}
ol.progress-meter li.closed:before {
  position: relative;
  float: right;
  text-indent: 0;
  left: calc(10%);
}

ol.progress-meter li:before {
  position: relative;
  float: left;
  text-indent: 0;
  left: calc(50% - 9.5px);
}
ol.progress-meter li.INITIATED,
ol.progress-meter li.APPROVED,
ol.progress-meter li.PENDING,
ol.progress-meter li.REJECTED,
ol.progress-meter li.closed,
ol.progress-meter li.todo {
  font-size: 12px;
}
ol.progress-meter li.INITIATED:before{
  content: "\25B6"; /* play */
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -25.175px;
  border: none;
  border-radius: 19px;
}

ol.progress-meter li.closed:before{
  content: ""; /* play */
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -25.175px;
  border: none;
  border-radius: 19px;
}

ol.progress-meter li.APPROVED:before {
  content: "\2714"; /* Checkmark */
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -25.175px;
  border: none;
  border-radius: 19px;
}

ol.progress-meter li.PENDING:before {
  content: ""; /* No mark, just show level number */
  height: 19px;
  width: 19px;
  line-height: 22.85px;
  bottom: -25.175px;
  border: none;
  border-radius: 19px;
  background-color: silver;/*orange*/
}

ol.progress-meter li.REJECTED:before {
  content: "\2716"; /* Cross */
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -25.175px;
  border: none;
  border-radius: 19px;
}
ol.progress-meter li.INITIATED,
ol.progress-meter li.APPROVED {
  color: black;
  border-bottom-color: yellowgreen;
}
ol.progress-meter li.INITIATED:before,
ol.progress-meter li.APPROVED:before {
  color: white;
  background-color: yellowgreen;
}

ol.progress-meter li.PENDING {
  color: black;
  border-bottom-color: silver;/*orange*/
}

ol.progress-meter li.REJECTED {
  color: black;
  border-bottom-color: red;
}

ol.progress-meter li.REJECTED:before {
  color: white;
  background-color: red;
}

ol.progress-meter li.closed {
  color: black;
  border-bottom-color: lightblue;
}

ol.progress-meter li.closed:before {
  color: white;
  background-color: lightblue;
}

ol.progress-meter li.todo {
  color: black;
  border-bottom-color: silver;
}

ol.progress-meter li.todo:before {
  content: ""; /* No mark, just show level number */
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -25.175px;
  border: none;
  border-radius: 19px;
  background-color: silver;
}

.level-number {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  display: flex;
  text-indent: 0;
  color: white;
  align-items: center;
}
