/* .switch {
    position: relative;
    width: 120px;
    height: 40px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
  }
  
  .slider:before {
    content: '';
    position: absolute;
    height: 34px;
    width: 60px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.4s;
  }
  
  input:checked + .slider:before {
    transform: translateX(60px);
  }
  
  .slider-text {
    font-size: 14px;
    color: #000;
  }
  
  .sent-box-text {
    margin-left: 5px;
  }
  
  .inbox-text {
    margin-right: 5px;
  }
  
  
  */
/* 
  .switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .switch {
    position: relative;
    width: 120px;
    height: 40px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    height: 45px;
    width: 127px;
  }
  
  .slider:before {
    content: '';
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.4s ease;
    left: 3px;
    padding-right: 3px;
    top: 3px;
  }
  
  input:checked + .slider:before {
    transform: translateX(60px);
  }
  
  .slider-label {
    font-size: 14px;
    color: #000;
    z-index: 1;
  }
  
  input:checked + .slider {
    background-color: #e9f3ff; 
  }
   */

   /* .switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .switch {
    position: relative;
    width: 130px;
    height: 50px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f4f8;
    border-radius: 25px;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 50px;
    width: 140px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .slider:before {
    content: '';
    position: absolute;
    height: 44px;
    width: 65px;
    background-color: white;
    border-radius: 25px;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    left: 3px;
    top: 3px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  input:checked + .slider:before {
    transform: translateX(65px);
  }
  
  .slider-label {
    font-size: 16px;
    color: #333;
    z-index: 1;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  input:checked + .slider {
    background-color: #d3e7ff; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
   */


   /* .switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .switch {
    position: relative;
    width: 140px;
    height: 55px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f4f8;
    border-radius: 30px;
    padding: 0 12px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 55px;
    width: 150px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .slider:before {
    content: '';
    position: absolute;
    height: 48px;
    width: 70px;
    background-color: white;
    border-radius: 30px;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    left: 3px;
    top: 3px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  input:checked + .slider:before {
    transform: translateX(70px);
  }
  
  .slider-label {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .slider-label .icon {
    font-size: 18px;
    margin-left: 6px;
  }
  
  .slider-label.inbox {
    background-color: #e1f5f2;
    color: #00796b;
  }
  
  .slider-label.outbox {
    background-color: #ffe8e7;
    color: #d32f2f;
  }
  
  input:checked + .slider .inbox {
    background-color: #b2dfdb;
    color: #004d40;
  }
  
  input:checked + .slider .outbox {
    background-color: #ffcdd2;
    color: #c62828;
  }
  
  .slider-label:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
   */

   .switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .switch {
    position: relative;
    width: 222px; /* Increased width for proper fitting */
    height: 55px;
  }
  
  .switch input {
    display: none; /* Hide default checkbox */
  }
  
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f4f8;
    border-radius: 10px;
    padding: 0px; /* Increased padding for better spacing */
    padding-right: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 55px;
    width: 222px; /* Match switch width */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .slider:before {
    content: '';
    position: absolute;
    height: 48px;
    width: 110px; /* Increased width for better fitting */
    background-color: white;
    border-radius: 10px;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    left: 3px;
    top: 3px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  input:checked + .slider:before {
    transform: translateX(110px); /* Adjusted slide for smooth transition */
  }
  
  .slider-label {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    padding: 10px 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .slider-label .icon {
    font-size: 18px;
    margin-left: 6px;
  }
/*   
  .slider-label.inbox {
    background-color: #e1f5f2;
    color: #00796b;
  }
  
  .slider-label.outbox {
    background-color: #ffe8e7;
    color: #d32f2f;
  } */
  
  /* input:checked + .slider .inbox {
    background-color: #b2dfdb;
    color: #004d40;
  }
  
  input:checked + .slider .outbox {
    background-color: #ffcdd2;
    color: #c62828;
  } */
  
  /* .slider-label:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  } */
  