.hrms-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 48%;
  }
  
  .message-container {
    margin-bottom: 20px;
  }
  
  .message-textarea {
    width: 100%;
    height: 175px;;
  }
  
  .button-container {
    text-align: center;
  }
  
  .send-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }
  .text-center
  {
    padding-top: 25px;
  }  